<div
	?disabled="${props.disabled}"
	class="
		form-control
		${props.kind || 'default'}
		${props.right ? 'right' : ''}
		${props.inline ? 'inline' : ''}
		${props._valid ? 'valid' : 'invalid'}
		${props._active ? 'active' : ''}
		${props.label && 'with-label'}
		${props.label && (props._active || props.placeholder || props.value) && 'label-above'}

	">
	${props.label
		? html`<label class="label" for="textarea">${props.label}</label>`
		: null
	}
	<div class="textarea-wrap">
		<textarea
			@keydown="${this._resize.bind(this)}"
			id="textarea"
			name="${props.name}"
			.value="${props.value}"
			type="${props.type || 'text'}"
			placeholder="${props.placeholder}"
			@blur="${this._onblur.bind(this)}"
			@focus="${this._onfocus.bind(this)}"
			@input="${this._oninput.bind(this)}">
		</textarea>
		<b class="focus-line"></b>
	</div>
	${props._eMsg || props.subtext
		? html`<span class="subtext">${props._eMsg || props.subtext}</span>`
		: null
	}
</div>

<link rel="stylesheet" href="../styles/rb-textarea.css">
