/*******************
 * TEXTAREA FOCUS LINE
 *******************/
.focus-line {
	width: 100%;
	padding-top: 7px;
	margin-top: -2px; // cover textarea border and prevent shift shock
	transform-origin: center top; // TODO: add border-bottom and fix iOS
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

@keyframes focus-line {
	from { transform: scaleX(0); }
	to   { transform: scaleX(1); }
}

.form-control {
	&.active {
		.focus-line {
			border-bottom-width: 2px;
			animation-name: focus-line;
			animation-duration: .18s;
		}
	}
}