/**********
 * OPTIONS
 **********/
.form-control {
	&.right {
		align-items: flex-end;
		textarea { text-align: right; }
		// .label { transform-origin: right bottom; } // see label.scss
	}
	&.no-overflow {
		textarea {overflow: hidden;}
	}
}