/********
 * INPUT
 ********/
.textarea-wrap {
	display: flex;
	flex-wrap: wrap; // so focus line is below textarea
	width: 300px;
}
textarea {
	width: 100%;
	resize: vertical;
	max-width: 300px;
	min-height: 90px;
	padding: 0 0 6px;
	border: none;
	outline: none;
	border-radius: 0; // needed for iOS (shows rounded bottom corners)
	box-shadow: none; // firefox displays this on invalid form controls
	box-sizing: border-box;
}