/**********
 * BORDERS
 **********/
textarea {
	&:hover ~ .focus-line {
		border-bottom-color: mapGet($formControlColors, borders, focusLine, hover);
	}
}

.focus-line {
	border-bottom-color: mapGet($formControlColors, borders, focusLine, default);
}

/* Input States
 ***************/
.form-control {
	&.invalid {
		.focus-line {
			border-bottom-color: mapGet($formControlColors, borders, invalid, default);
		}
	}
}

/* Focus Line States
 ********************/
.form-control {
	&.active {
		.focus-line {
			border-bottom-color: mapGet($formControlColors, borders, focusLine, active);
		}
	}
	&.invalid {
		.focus-line {
			border-bottom-color: mapGet($formControlColors, borders, invalid, default);
		}
	}
}